langchain_google_genai
google-generativeai
load_dotenv
crewai
crewai_tools
opencv-python
pyautogui
SpeechRecognition
streamlit

langchain
langchain-experimental
langchain-community
langchain-core